<a href="https://colab.research.google.com/github/dlguswn3659/AI_class/blob/master/AI_Assistant_Magic_Mirror/day03_hyunju_herin_movie_trend.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import urllib.request
import json
import pandas as pd
import seaborn as sns; sns.set(style='darkgrid', font='KoPutDOtum', font_scale=1.5)
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:

client_id = "8W7zgsf_p9bfZu48fstp"
client_secret = "gGqw9VbTre"

url = "https://openapi.naver.com/v1/datalab/search";
body = {
    'startDate' : '2020-08-18',
    'endDate' : '2020-08-24',
    'timeUnit' : 'date',        # input : [date, week, month]
    'keywordGroups' : [         #
        {
            'groupName': '다만 악에서 구하소서',
            'keywords': ['다만 악에서 구하소서']
        },{
            'groupName': '오케이 마담',
            'keywords': ['오케이 마담']
        },{
            'groupName': '극장판 짱구는 못말려: 신혼여행 허리케인~ 사라진 아빠!',
            'keywords': ['극장판 짱구는 못말려: 신혼여행 허리케인~ 사라진 아빠!']
        },{
            'groupName': '강철비2: 정상회담',
            'keywords': ['강철비2: 정상회담']
        },{
            'groupName': '반도',
            'keywords': ['반도']
        },
    ]
}
body = json.dumps(body)

request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
json_obj = json.loads(response.read().decode('utf-8'))

In [3]:
df1 = pd.DataFrame(json_obj['results'][0]['data']); df1.columns=['기간','다만 악에서 구하소서']; df1.set_index('기간')
df2 = pd.DataFrame(json_obj['results'][1]['data']); df1.columns=['기간','오케이 마담']; df1.set_index('기간')
df3 = pd.DataFrame(json_obj['results'][2]['data']); df1.columns=['기간','극장판 짱구는 못말려: 신혼여행 허리케인~ 사라진 아빠!']; df1.set_index('기간')
df4 = pd.DataFrame(json_obj['results'][3]['data']); df1.columns=['기간','강철비2: 정상회담']; df1.set_index('기간')
df5 = pd.DataFrame(json_obj['results'][4]['data']); df1.columns=['기간','반도']; df1.set_index('기간')
# df = df1.merge(df2, how='outer', on='기간').fillna(0)

df = df1.append(df2)

df.head(7)

           기간         반도 period  ratio
0  2020-08-18  100.00000    NaN    NaN
1  2020-08-19   83.64171    NaN    NaN
2  2020-08-20   79.92514    NaN    NaN
3  2020-08-21   68.68038    NaN    NaN
4  2020-08-22   78.79987    NaN    NaN
5  2020-08-23   73.22252    NaN    NaN
6  2020-08-24   52.52724    NaN    NaN